/* Estilo geral */
body {
  font-family: "Abel", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: #e0f7fa;
}

/* Inicio Menu Hamburguer */
.hamburguer {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  cursor: pointer;
  color: #ff6400;
}

#menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  color: #ff6400;
  z-index: 999;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#menu nav ul {
  list-style: none;
  padding: 0;
}

#menu nav ul li {
  margin: 20px 0;
}

#menu nav ul li a {
  color: #ff6400;
  text-decoration: none;
  font-size: 24px;
}

#fechar-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background-color: #eff3f3;
}
/* Fim Menu Hamburguer */

/* Botão do WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.whatsapp-button a {
  color: white;
  font-size: 30px;
  text-decoration: none;
}

.whatsapp-button a:hover {
  color: #e0f7fa;
}
/* Fim do Botão do WhatsApp */

/* Inicio Página Index/Home */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  height: 100vh; /* Ajuste a altura conforme necessário */
}

.text-container {
  max-width: 600px;
}

.text-container h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.text-container h2 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

/* Seção de Projetos */
.projetos-destaque {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.projetos-destaque h2 {
  margin-bottom: 20px; /* Adiciona espaço abaixo do título */
}

.carousel {
  display: flex;
  animation: slide 10s infinite linear;
}

.projeto {
  flex: 0 0 auto;
  width: 300px; /* Ajuste o tamanho conforme necessário */
  margin: 0 10px;
  text-align: center;
}

.projeto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.projeto h3 {
  margin-top: 10px;
  font-size: 1.2em;
  color: #333;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-300px * 3)
    ); /* Ajuste o valor conforme necessário */
  }
}

/*Fim página Index/Home*/

/*Inicio Botao Saiba Mais*/
.btn {
  background: radial-gradient(ellipse at bottom, #fda766 0%, #ff6200 100%);
  color: #dcdcdc;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
  width: auto; /* Garante que o botão não ocupe toda a largura */
}

.btn.animate-btn {
  animation: animate-outline 1s ease-out infinite;
}

.btn:hover {
  background: radial-gradient(ellipse at bottom, #fda766 0%, #ff6200 100%);
}

@keyframes animate-outline {
  from {
    outline: 0px solid #ff6400;
  }
  to {
    outline: 15px solid #5aef9d00;
  }
}
/*end animação*/

/*Fim botão Saiba Mais*/

/* Inicio página projeto */
.banner-projetos {
  width: 100%;
  height: auto; /* Ajuste automático da altura */
}

.img-banner-projetos {
  width: 100%;
  height: auto; /* Ajuste automático da altura */
  object-fit: cover;
}

.projetos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex: 1;
  margin-top: 20px; /* Adicionado para evitar sobreposição */
  text-align: center; /* Centraliza o texto */
}

.projetos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Espaçamento entre os projetos */
}

.projeto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.img-projeto {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.btn-projeto {
  background: radial-gradient(ellipse at bottom, #fda766 0%, #ff6200 100%);
  color: #dcdcdc;
  margin-top: 10px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  transition: 0.1s;
  width: auto; /* Garante que o botão não ocupe toda a largura */
}

.btn-projeto:hover {
  background: radial-gradient(ellipse at bottom, #fda766 0%, #ff6200 100%);
}

/* Fim página projetos */

/*Inicio pagina Sobre*/
.sobre-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-wrap: wrap; /* Adicionado para melhor responsividade */
  flex: 1;
}

.img-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img-sobre {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.texto-container {
  flex: 2;
  max-width: 600px;
}
/*Fim pagina Sobre*/

/* Seção de Projetos */
.projetos-destaque {
  padding: 50px 20px;
  text-align: center;
}

.projetos-destaque h2 {
  margin-bottom: 40px;
}

.projeto {
  display: inline-block;
  margin: 20px;
  text-align: left;
}

.projeto img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.projeto h3 {
  margin-top: 10px;
  font-size: 22px;
}

.projeto p {
  font-size: 16px;
  line-height: 1.4;
}

/*inicio página contato form*/

header {
  background: radial-gradient(ellipse at bottom, #fda766 0%, #ff6200 100%);
  padding: 10px 0;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.contact-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 20px;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  animation: fadeIn 1s ease-in-out;
}

.contact-section h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #ff6400; /* Laranja vibrante */
}

.contact-section p {
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
  color: #333333;
}

.contact-section form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.contact-section label {
  margin-top: 10px;
  font-size: 16px;
  color: #ff6400; /* Laranja vibrante */
  font-weight: bold;
}

.contact-section input,
.contact-section textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-section button {
  background: radial-gradient(ellipse at bottom, #fda766 0%, #ff6200 100%);
  color: white;
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-section button:hover {
  background: radial-gradient(ellipse at bottom, #fda766 0%, #ff6200 100%);
}

.whatsapp-link {
  margin-top: 20px;
}

.whatsapp-link a {
  color: #25d366;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.whatsapp-link a i {
  margin-right: 10px;
  font-size: 24px;
}

/* Animações */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsivo */
@media (max-width: 768px) {
  .contact-section {
    padding: 20px;
  }

  .contact-section h1 {
    font-size: 28px;
  }

  .contact-section p {
    font-size: 16px;
  }

  header nav ul {
    flex-direction: column;
  }

  header nav ul li {
    margin: 10px 0;
  }
}
/*fim página Contato form*/

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: radial-gradient(ellipse at bottom, #fda766 0%, #ff6200 100%);
  color: white;
  font-weight: bold;
  width: 100%;
  height: auto;
  margin-top: auto; /* Garante que o rodapé fique no final da página */
  flex-shrink: 0; /* Garante que o rodapé não encolha */
}

footer .social-media,
footer .copyright,
footer .logo {
  flex: 1;
}

footer .social-media {
  display: flex;
  justify-content: flex-start;
}

footer .social-media a {
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

footer .copyright {
  text-align: center;
  color: white;
}

footer .logo {
  display: flex;
  justify-content: flex-end;
}

footer .logo img {
  height: 50px;
}

/* Responsivo */
@media (max-width: 768px) {
  .projeto {
    margin: 10px;
  }

  .img-projeto {
    width: 100%;
    height: auto;
  }

  .btn-projeto {
    padding: 8px 12px;
  }
  .sobre-container {
    flex-direction: column;
    align-items: center;
  }

  .img-container {
    margin-bottom: 20px;
  }
  .banner h1 {
    font-size: 24px;
  }

  .banner h2 {
    font-size: 18px;
  }

  .banner .btn {
    padding: 10px 15px;
  }
}
